[submodule "CA1"]
	path = CA1
	url = https://github.com/kalhorghazal/House-Price-Prediction-in-Verilog
[submodule "CA2"]
	path = CA2
	url = https://github.com/kalhorghazal/Mips-SingleCycle
[submodule "CA3"]
	path = CA3
	url = https://github.com/kalhorghazal/Mips-MultiCycle
